@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* CSS HSL */
  --color-primary: hsla(240, 12%, 10%, 1);
  --color-secondary: hsla(245, 18%, 24%, 1);
  --color-third: hsla(212, 98%, 82%, 1);
  --color-fourth: hsla(250, 47%, 90%, 1);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

body {
  /* background-color: var(--color-primary); */
  @apply min-h-[100dvh] h-[100dvh] max-h-[100dvh] bg-black text-fourth relative;
}

*,
*::after,
*::before {
  @apply box-border
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mainLayout::before,
.mainLayout::after {
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50%;
  width: 80%;
  position: absolute;
  top: 0;
  z-index: -2;
}

.mainLayout::before {
  background-image: url('../assets/imgs/blur1.svg');
  left: 0;
}

.mainLayout::after {
  background-image: url('../assets/imgs/blur2.svg');
  content: '';
  @apply bg-no-repeat bg-cover bg-right absolute -top-12 -right-40 scale-150 w-full md:w-[70%] md:h-[70%] -z-10
}

.navLink {
  @apply text-xs justify-center md:justify-normal bg-transparent duration-150 hover:bg-third/10 rounded-lg hover:text-third w-full py-2 md:px-4 flex gap-2 items-center;
}

.selected {
  @apply text-slate-50;
}



/* BUTTONS */

.btn {
  @apply py-2 rounded duration-150;
}

.btn-primary {
  @apply bg-third text-neutral-950 hover:bg-sky-400;
}

.btn-outlined {
  @apply bg-transparent border border-third/30 hover:text-sky-400 hover:border-sky-400;
}

.btn-icon {
  @apply p-2;
}

.btn-base .btnIcon {
  @apply h-5 w-5
}

.btn-base {
  @apply hover:text-sky-400
}

.main-padding {
  @apply px-8 md:px-16;
}